<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDoc HMS</title>
</head>
<style>
    body{
        background-image: url('background.jpg');
        background-size: cover;
    }
    h1{
        font-family: sans-serif;
        color: rgb(36, 85, 233);
        text-align: center;
        margin-top: 15rem;
        font-size: 5rem;
    }
    button{
        color: aliceblue;
        background-color: blue;
        margin-left: 15rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 2rem;
        cursor: pointer;
    }
</style>
<body>
    <div>
        <h1>Welcome to WedDoc!</h1>
    </div>
    <button >Go to dashboard</button>
</body>
</html>
